{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tilted Content Slideshow</title>
		<meta name="description" content="Tilted Content Slideshow: Recreating the FWA.com landing page perspective slider" />
		<meta name="keywords" content="fwa slider, perspective, 3d, slideshow, animation, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">

		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href=" {% static 'css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/3-col-portfolio.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<script src= "{% static 'js/modernizr.custom.js' %}" ></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}" />


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


	</head>
	<body>

<nav class="main-nav">
  <ul class="nav-list">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li>
      <button class="submenu-toggle-button">+</button>

{#        <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a></li>#}
      <a href={% url 'quiz' %}>Quiz page</a>
      <ul class="submenu nav-list">
        <li><a href="">Lorem ipsum.</a></li>
        <li><a href="">Culpa, qui!</a></li>
        <li><a href="">Repudiandae, eaque.</a></li>
      </ul>
    </li>
    <li><a href={% url 'cards' %}>Stats</a></li>
    <li><a href={% url 'front' %}>Full Squad</a></li>
    <li>
      <button class="submenu-toggle-button">+</button>
      <a href="">Iste, voluptatem!</a>
      <ul class="submenu nav-list">
        <li><a href="/templates/cards.html">Lorem ipsum.</a></li>
        <li><a href="">Culpa, qui!</a></li>
        <li><a href="">Repudiandae, eaque.</a></li>
      </ul>
    </li>
    <li><a href="">Soluta, blanditiis!</a></li>
    <li><a href="">Nostrum, adipisci.</a></li>
    <li><a href="">At, cumque!</a></li>
    <li><a href="">Natus, ut!</a></li>
    <li><a href="">Impedit, illum.</a></li>
  </ul>
</nav>

             {% block content %}
            {%  endblock  %}



        <script src= "{%  static 'js/jquery.js' %}"></script>
        <script src=" {%  static 'js/stretch.js' %}"></script>
        <script src="{%  static 'js/quiz2.js' %}"></script>

{#             <script src="/static/js/mine.js"></script>#}

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>


    <script src="{% static 'js/classie.js' %}"></script>
		<script src="{% static 'js/tiltSlider.js' %}" ></script>
		<script>
			new TiltSlider( document.getElementById( 'slideshow' ) );
		</script>
		<!-- For the demo ad only -->
		<script src="http://tympanus.net/codrops/adpacks/demoad.js"></script>

	</body>
</html>