{% extends 'base.html' %}
{%  load static from staticfiles  %}

      {% block content %}
          <div class="container" xmlns="http://www.w3.org/1999/html">
			<div class="slideshow" id="slideshow">
				<ol class="slides">
					<li class="current">
						<div class="description">
							<h2>The greatest Scottish team of our time?</h2>
							<p>Is O'Neil the greatest manager? <a href="http://www.thefwa.com/"></a>and Miss Moneypenny.........</p>
						</div>
						<div class="tiltview col">
							<a href="http://grovemade.com/"><img src="{% static 'img/team.jpg' %}"/></a>
							<a href="https://tsovet.com/"><img src="{% static 'img/oneil.jpg' %}"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>80,000 fans in Seville</h2>
							<p>Larsson nearlys brings it home<code>quote </code> <code>Clives first interview</code></p>
						</div>
						<div class="tiltview row">
							<a href="http://pexcil.com/"><img src="{% static 'img/larsson.jpg' %}"/></a>
							<a href="http://foodsense.is/"><img src="{% static 'img/crowd.jpg' %}"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>Big Hugh's Europe summer cars</h2>
							<p> Hugh and Katie........<b> You Want Hugh You Get Hugh</b>
						</div>
						<div class="tiltview col">
							<a href="http://minimalmonkey.com/"><img src="{% static 'img/crowd1.jpg' %}"/></a>
							<a href="http://www.herschelsupply.com/"><img src="{% static 'img/glasgow.jpg' %}"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>Niel dump the bike</h2>
							<p>"Those boys in the 2016 winter camp were useless"</p>
                            <p>Tiffany feedback form dec 2017</p>
						</div>
						<div class="tiltview row">
							<a href="http://grovemade.com/"><img src="{%static 'img/sutton.jpg' %}"/></a>
							<a href="https://tsovet.com/"><img src="{% static 'img/action.jpg' %}"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>Dave the Drummer</h2>
							<p>Kells to Dublin in 10 mins........Dave super chipped the processor....</p>
						</div>
						<div class="tiltview col">
							<a href="http://pexcil.com/"><img src="{% static 'img/jackie.jpg' %}"/></a>
							<a href="http://foodsense.is/"><img src="{% static 'img/lennon.jpg' %}"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>Big Shay and Little Shay</h2>
							<p>Happily ever after....<i class="fa fa-heart" aria-hidden="true"></i>....</p>
						</div>
						<div class="tiltview row">
							<a href="http://minimalmonkey.com/"><img src="{% static 'img/oneil2.jpg' %}"/></a>
							<a href="http://www.herschelsupply.com/"><img src="{% static 'img/thommo.jpg' %}"/></a>
						</div>
					</li>
				</ol>
			</div><!-- /slideshow -->
              </div>

{#        <form id ="form1">#}
{#            What is your name: <input name="name" type="text" size="20">#}
{#            What is your number 1 to 11 <input age="age" type="number" size="20">#}
{#        </form>#}
{#            <button onclick="Knight()">Submit</button>#}
{#</div>#}
{##}
{#<p id="demo"></p>#}



        {% endblock %}